/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
body {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	background: linear-gradient(to bottom, #1D1E2A, #201D2B, #0C0C0C);
	background-color: #0C0C0C;
}

.active_link {
	background-color: #5865f2;
	border-radius: 5px;
	padding: 0.5rem 1rem;
}

.body_container {
	padding: 0 1rem;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.body_container {
		max-width: 750px;
	}
}

@media (min-width: 992px) {
	.body_container {
		max-width: 970px;
	}
}

@media (min-width: 1200px) {
	.body_container {
		max-width: 1170px;
	}
}
