/* BEM Styling adoption */

/* Main section begin */
.main {
  padding: 4rem;
}

.main_inner {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  margin: 0 auto;
  gap: 10rem;
}

/* main section end */

/* Banner Section Begin */
.banner {
  display: flex;
}

.banner__inner_container {
  display: flex;
}

.banner__image_container {
  flex: 4;
}

.banner__image {
  width: 100%;
  height: 100%;
  border-radius: 4%;
}

.banner__minting_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  color: white;
  gap: 3rem;
  padding: 0.4rem;
}

.banner__minting_container h3 {
  font-size: 1.7rem;
  text-align: right;
}

.banner__stats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.banner__stats_item {
  font-size: 1rem;
}

.banner__stats_total_amount {
  font-size: 1.4rem;
  color: #01d0b7;
}

.banner__btn {
  color: #01d0b7;
  border: 0.15rem solid #01d0b7;
  border-radius: 30%;
  padding: 1rem 2rem;
}

/* Banner Section end */

/* Asset Marketplace begin */

.asset_market__container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.asset_market__container h3 {
  font-size: 2rem;
  color: white;
}

.asset__marketplace_inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
}

/* Asset marketplace end */

/* Asset card begin */

.asset_card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #bcc1fa;
}

.asset_card:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.asset_card__image_container {
}

.asset_card__image {
  width: 100%;
  height: 100%;
}

.asset_card__detail_container {
  color: white;
}

.asset_card__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

/* Asset card end */

/* Loan Marketplace begin */

.loan_market__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.loan_market__container h3 {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.loan__marketplace_inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
}

/* Loan marketplace end */

/* Loan card begin */

.loan_card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #bcc1fa;
}

.loan_card:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.loan_card__image_container {
  height: 10rem;
}

.loan_card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.loan_card__detail_container {
  color: #5865f2;
  display: flex;
  flex-direction: column;
}

.loan_card__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  color: #5865f2;
}

.loan_card__body h2 {
  font-size: 1.7rem;
}
/* Loan card end */

/* Preview */

.preview__container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 3rem;
}

.preview__image_section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.preview__image_container {
  width: 100%;
  height: auto;
}

.preview__image_container_inner {

}

.preview__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.preview__image_stats {
  background-color: #bebdc0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  gap: 0.4rem;
  font-size: 1.2rem;
}

.preview__sale_type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid #5E6A73;
  border-radius: 1rem;
  color: white;
}

.preview__main_sale_type {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.preview__currency_type {
  display: flex;
  justify-content: flex-end;
  border-left: 0.1rem solid #5E6A73;
  width: 100%;
  height: 100%;
  padding: 2rem;
}


.preview__detail{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.preview__top_header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.preview__top_verified{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
    font-size: 1.6rem;
    color: #5865F2;
}

.preview__top_verified span{
    font-size: 1.6rem;
    font-weight: bold;

}

.preview__owned h2{
    font-size: 3rem;
    color: #EEECFA;
}

.preview__owned_body{
    color: #EEECFA;
    display: flex;
    gap: .4rem;
}

.preview__owned_body span{
    font-weight: bold;
}

.preview__stats{
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
}

.preview__stats span{
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
    color: #F4F2FC;
}

.preview__auction{
    display: flex;
    gap: 3rem;
    flex-direction: column;
    color: #FAF7FD;
    border-radius: 2rem;
}

.preview__auction_inner{
    border: .1rem solid #5E6A73;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    color: #FAF7FD;
    border-radius: 2rem;
}

.preview__auction_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .9rem;
    border-bottom: .1rem solid #5E6A73;

}

.preview__time_cap{
    display: flex;
    gap: 3rem;
}

.preview__time_capsule{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.preview__time_capsule .preview__timezy{
    font-weight: bolder;
    font-size: 2rem;
}

.preview__auction_price_tab{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.preview__price_container{
    display: flex;
    gap: 1rem;
}

.preview__price_container h4 span{
    font-size: 2rem;
}

.preview__price_container h4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview__price_container h6{
    font-size: 1rem;
    color: #b1b1b1;
}

.preview__place_bid_btn{
    background-color: #5865F2;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.preview__auction_detail{
    border: .1rem solid #5E6A73;
    border-radius: 1rem;
}

.preview__auction_detail_inner{
    display: flex;
    flex-direction: column;
}

.preview__auction_detail_item{
    padding: 1rem 2rem;
    border-bottom: .1rem solid #5E6A73;
    position: relative;
}

.preview__auction_detail_inner:last-child{
    border-bottom: none!important;

}

.preview__auction_detail_item_cont{
    display: flex;
    gap: .4rem;
    justify-content: flex-start;
    align-items: center;
}

.preview__down_icon{
    position: absolute;
    right: 3%;
    top: 30%;
    color: #5E6A73;
    transform: rotate(180deg);
}

/* preview history */

.preview__history_section{
    border: .1rem solid #9A989A;
    background-color: #2F2D30;
    border-radius: 2rem;
}

.preview__history_section_header{
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: .1rem solid #9A989A;
    color: #F8F8F9;
}

.preview__history_section_body_container{
    display: flex;
    flex-direction: column;
}

.preview__history_section_body_item{
    padding: 2rem 2rem;
    border-bottom: .1rem solid #9A989A;
    color: #F8F8F9;
    display: flex;
    justify-content: space-between;


}

.preview__history_section_body_item span{
    flex: 1;

}

/* Search component */

.search__component{
    display: flex;
    gap: 2rem;
}

.search__selector{
    border-radius: 4rem;
    border: .1rem solid #5E6A73;
    padding: .1rem;
}


.form__grouper{
    border: .1rem solid #5E6A73;
    
}
